<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.scanner">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-sdk tools:overrideLibrary="com.microblink.library" />

    <application>
        <!--        android:screenOrientation="landscape"-->

<!--            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />-->

<!--        android:theme="@style/Theme.AppCompat.Light.NoActionBar"-->
        <activity
            android:name=".ScannerActivity"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" /> />
    </application>
</manifest>
